@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Edo';
  src: url('/fonts/edo.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
}

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Orbitron', sans-serif;
}

